.invoice_wrapper {
    font-family: "Public Sans", sans-serif;

}

.invoice_wrapper button {

    border: none;

}

.invoice_wrapper ul {
    list-style-type: none;

}

.allInvoiceBtn {
    transition: all 0.3s ease;
}

.invoice_items_filter_area button {
    background: none;
    border: none;
}

.invoice_items_filter_area .allInvoiceBtn:hover {
    color: #4790bd !important;
}

.invoice_type_list {
    width: 300px;
    z-index: 1020;
}

.invoice_type_list_items_area {
    height: 350px;
    overflow-y: auto;
}

.invoice_type_list {
    top: 41px;
    left: 0;
    display: none;
}

.invoice_type_list ul li {
    list-style-type: none;
}

.invoice_type_list ul li button {
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 7px 5px;
    border-radius: 5px;
}

.invoice_type_list ul li button:hover {
    background: #4790bd;
    color: #ffffff;
}

.invoice_type_list ul li button:hover .icon {
    color: #ffffff;
}

.invoice_type_list ul li button .icon {
    color: rgba(151, 149, 149, 0.493);
}

.newCustomViewlink_area {
    border-top: 1px solid #d3d3d3d3;
}

.newCustomViewlink_area button .icon {
    color: #0313f1;
}

.newCustomViewlink_area button:hover {
    color: #4790bd;
}

.add_new_and_tools_area .addNewBtnarea {
    background: #4790bd;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

.add_new_and_tools_area .addNewBtnarea button {
    background: none;
    padding: 7px 15px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
}

.add_new_and_tools_area .tools_btn {
    background: #ebecec;
    color: #000000;
    padding: 7px 15px;
    border: none;

}

.add_new_and_tools_area .addNewBtnarea .addNewBtn {
    border-right: 1px solid #ffffff !important;
}

.add_new_and_tools_area .dropdown-item:hover {
    background: #4790bd;
    color: #ffffff;
}

.tools_btn::after {
    display: none !important;
}

.customizeAndSettingsarea {
    width: 250px;
    padding: 15px 5px;
}

.customizeAndSettingsItem {
    font-size: 16px;
    width: 100%;
    text-transform: capitalize;
    border-radius: 7px;
    padding: 7px;
}

.customizeAndSettingsItem h1 {
    color: #0000008c;
    text-transform: capitalize !important;
}

.customizeAndSettingsItem .icon {
    color: #4790bd;
}

.customizeAndSettingsItem .expandarrow {
    color: #4790bd;
}

.customizeAndSettingsItem:hover h1,
.customizeAndSettingsItem:hover .icon,
.customizeAndSettingsItem:hover .expandarrow {
    color: #ffffff !important;
}

.sortByList {
    /* right: calc(100% + 15px); */
    right: 100%;
    top: 0;
    display: none;
    transition: all 1s ease;
    width: 220px;
}

.sortByList .dropdown-item {
    border-radius: 7px;
    text-transform: capitalize;
}

.exportInvoicelist {
    /* right: calc(100% + 15px); */
    right: 100%;
    top: 0;
    display: none;
    transition: all 1s ease;
    width: 220px;
}

.exportInvoicelist .dropdown-item {
    border-radius: 7px;
    text-transform: capitalize;
}

.sortuparrow {
    display: none;
}

.sortdownarrow {
    display: none;
}

.sortByList .dropdown-item:hover .sortuparrow {
    color: #ffffff;
    display: block;
}

.sortByList .active {
    background: #d1d1d1;
    color: #000000;
}

.sortByList .active .sortdownarrow {
    display: block;
    color: #4790bd;
}

.sortByList .active:hover .sortuparrow {
    display: none !important;
}

.sortByList .active:hover .sortdownarrow {
    color: #ffffff !important;
}

.sortByListBtn:hover .sortByList {
    display: block;
}

.exportInvoicebtn:hover .exportInvoicelist {
    display: block;
}

@media (max-width: 576px) {
    .sortByList {
        right: 0;
        top: 100%;
        z-index: 1020;
    }

    .exportInvoicelist {
        right: 0;
        top: 100%;
        z-index: 1020;
    }
}

@media (max-height: 600px) {
    .customizeAndSettingsarea {
        height: 250px;
        overflow-y: auto;
    }

}

.invoice-table tbody tr {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.invoice-table tbody tr:hover {
    background-color: #f1f1f1;
}

.invoice-table th {
    color: rgba(131, 129, 149, 0.8);
    /* background: #4790bd46 ; */
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.invoice-table td {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}

.invoice-table th,
.invoice-table td {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding: 15px 15px;
}

.invoice-table thead {
    position: sticky;
    top: -2px;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.invoice-table thead tr th:first-child {
    position: sticky;
    top: 0;
    left: 0;
    background: #ffffff;
}

.fixed-column {
    color: #4790bd !important;
    text-align: center;
    vertical-align: middle;
}

.customize-popup-list-item {
    background: #e0e0e0;
    border-radius: 7px;
    padding: 6px 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customize-popup-list-item:hover .pin-icon {
    display: inline-block;
}

.pin-icon {
    display: none;
    color: #4790bd;
}

.locked-icon {
    color: #999;
}

.invoice_table_area .table-responsive {
    max-height: 650px;
}

.paginateBtn {
    background: #4790bd !important;
    color: #ffffff !important;
}

/* 
show invoice area start */
.invoice_list_area ul {
    padding-left: 0;
}

.invoice_items {
    border-bottom: 1px solid gainsboro;
}

.invoice_items a table {
    width: 100%;
}

.invoice_items a table tr td {
    vertical-align: top;
    padding: 7px;
}

.invoice_items a table tr td:nth-child(1) {
    text-align: left;
}

.invoice_items a table tr td:nth-child(2) {
    text-align: left;
}

.invoice_items a table tr td:nth-child(3) {
    text-align: right;
}

.invoice_items a table tr td h1 {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.invoice_items a table tr td p {
    font-size: 14px;
    font-weight: 500;
    color: #00000091;
    margin-bottom: 3px;

}

.invoice_items a table tr td span {
    font-size: 14px;
    font-weight: 600;
    color: #746b6b;
}

.invoice_list_area {
    height: calc(100vh - 71px);
    overflow-y: auto;
}

.in_invoice_header {
    padding: 22px;
    background: #ffffff;
}

.in_invoice_header h1 {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
}

.in_invoice_header a {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-decoration: none;
}

.in_invoice_header button {
    background: none;
    border: none;
    padding: 0;
}

.upload_file {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    column-gap: 7px;
    align-items: center;

}

.invoice_navbar {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    background: #dce1e4;

}

.invoice_navbar .nav_items_link {
    border-right: 1px solid #ffffff;
    padding: 10px;
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s ease;
    background: none;
    border-radius: 0 !important;

}

.invoice_navbar .nav_items_link:hover {
    background: #4790bd;
    color: #ffffff;
}

.nav_items_linkmoreitems .dropdown-item {
    text-transform: capitalize;
    font-weight: 500;
}

.nav_items_linkmoreitems .dropdown-item .icon {
    color: #4790bd;
}

.nav_items_linkmoreitems .dropdown-item:hover {
    background: #4790bd;
    color: #ffffff;
}

.nav_items_linkmoreitems .dropdown-item:hover .icon {
    color: #ffffff;
}

.invoice_view_area {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.new_inv_header {
    padding: 20px;
    border-bottom: 1px solid gainsboro;
}
.new_inv_header h1{
    font-size: 20px;
    margin-bottom: 0;
    color: #000000;
    text-transform: capitalize;
}
.new_inv_header button{
    background: none;
    padding: 0 15px;
}
.new_inv_header button:first-child{
    color: #4790bd;
    border-right: 1px solid gainsboro;
}
.fs-14{
    font-size: 14px !important;
}
.fs-12{
    font-size: 12px !important;
}